.supplier-container {
  padding: 2rem;
}

.cardd-container {
  display:grid ;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.cardd {
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom right, #f2de90, #a84010);
  color: #000000;
  margin: 20px;
}
.cardd p .order-id {
  margin-right: 22rem;
}

.cardd p .order-date {
  margin-left: 22rem;
}

.cardd h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cardd p {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.accept-button,
.deliver-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #00b828;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-button:hover,
.deliver-button:hover {
  background-color: #0056b3;
}
