.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  position: absolute;
  left: 20px; /* Adjust the left position as needed */
  display: flex;
  align-items: center;
}

.logo div {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 25px;
  color: white;
  margin: 0;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.bt {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

.bt:hover {
  color: #ddd;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button.username {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(251, 251, 251);
  margin-left: 20px;
  font-size: 25px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  /* margin-left: 20px; */
  background-color: #f7f7f7;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.title{
  color:white;
  /* position: absolute; */
}

.notification-icon-wrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
}

.notification-icon-wrapper:hover {
  opacity: 0.8;
}
.notification-dropdown {
  position: absolute;
  top: 10%;
  right: 0;
  width: 300px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  transform: translateY(10px);
}




.notification-dropdown-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.notification-dropdown-header h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.notification-dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-dropdown-item {
  margin-bottom: 40px;
}

.order-id,
.order-date {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.order-details {
  margin: 5px 0;
  color: #2da004;
}

.order-money {
  margin: 5px 0;
}

.order-money span {
  font-weight: bold;
  margin-right: 200px;

}

.order-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.order-actions button {
  margin-left: 10px;
}
